/* Sopra i 768px e fino ai 1160px il layout è un po’ troppo “rigido”! Come mai? :faccia_pensosa: */
/* Aggiungiamo una media query per sistemare il layout e non far comparire la scrollbar orizzontale. */
/* sistemato questo problema */

@media screen and (max-width: 1175px) {

    .container {
        width: auto;
    }
}


/* sul schermo che ha come massimo la larghezza di 768px */

@media screen and (max-width: 768px) {

    .container {
        max-width: 620px;
    }
}


/* sul schermo che ha come massimo la larghezza di 480px */

@media screen and (max-width: 480px) {

    .container {
        max-width: 380px;
    }

    .row {
        flex-direction: column;
        gap: 66px;
    }

    .lessons .col {
        width: 100%;
    }

    .steps .col {
        width: 100%;
    }

    .why-us .col-left {
        width: 100%;
    }

    .why-us .col-right {
        width: 100%;
    }


}